/Abroad doc
/acceptance letter .jpg
/Approval Notice F1.pdf
/Begum_ Naaz Fatima_11901392_MS_HI_Fall2023_or_later_DP.docx
/Book1.xlsm
/data.csv
/desktop.ini
/diagram.jpeg
/Drivers_certificate.pdf
/EBP_Part2.docx
/EBP_Part3CollectingEvidence_Worksheet.docx
/EBP_Part4AppraisingEvidence_Worksheet.docx
/EXCEL
/Grammarly.lnk
/Group 9_ Population Health Informatics_Assignment 1 Final Draft.docx
/Hello_World
/I-20.pdf
/i20 signed.pdf
/idpic.jpeg
/ID_picture.pdf
/international_student_sponsor_statement__bank_certification.pdf
/Intro to Health Info
/Microsoft Edge.lnk
/MODULE2.jpeg
/Multi agent AI for mental health.pdf
/Naaz (Study) - Chrome.lnk
/naazzz.jpg
/naz - Chrome.lnk
/naz .jpg
/New folder
/New Text Document.txt
/notes.txt
/old files
/pop health
/pophealth.pptx
/POPproject.zip
/poster1.jpeg
/poster2.jpeg
/PPT POPHEALTH.jpeg
/pqlc0a0f40cya0 (1).exe
/Searching for Evid
/Snowmed-CT.pptx
/SQL
/SQL 1.jpeg
/SQLmodule2.jpeg
/SQLQuery16.sql
/SQLQuery17.sql
/SQLQuery19.sql
/WhatsApp Image 2025-11-13 at 11.59.22_668506ac.jpg
/WhatsApp Image 2025-11-13 at 12.00.31_614a55e6.jpg
/Zoom.lnk